<!DOCTYPE html>
<html lang="en" ng-app="herrherklotz">
  <head>
    <title>HerrHerklotz</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.css">
    <link rel="stylesheet" href="style.css">

  </head>
  <body> 
    <div flex layout="row" ng-controller="AppController as appCtrl" layout-fill>
      <md-sidenav ng-if="desktop" class="site-sidenav md-sidenav-left" layout="column" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="md-tall md-primary">
        </md-toolbar>
        <md-content>
          <md-list>
            <md-list-item ng-click="appCtrl.setPage('blog')">
              <md-icon class="material-icons">book</md-icon>
              <p>blog</p>
            </md-list-item>
            <md-list-item ng-click="appCtrl.setPage('start')" ng-disabled="true">
              <md-icon class="material-icons">school</md-icon>
              <p>getting started</p>
            </md-list-item>
            <md-list-item ng-click="appCtrl.setPage('api')">
              <md-icon class="material-icons">create</md-icon>
              <p>api</p>
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
      <div layout="column" flex>
        <md-toolbar ng-if="desktop" >
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="appCtrl.toggleSidenav()" hide-gt-sm>
              <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <h2>
              Blog
            </h2>
            <span flex></span>
          </div>
        </md-toolbar>
        <md-content id="content" flex md-scroll-y>
          <ng-view id="page" layout-padding></ng-view>
        </md-content>
      </div>
    </div>
  </body>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.9/angular-material.min.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>
  <script src="api/controller.js"></script>
  <script src="blog/controller.js"></script>
  <script src="start/controller.js"></script>

</html>
