/* Rules for sizing the icon. */
i.i-18 { font-size: 18px; }
i.i-24 { font-size: 24px; }
i.i-36 { font-size: 36px; }
i.i-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
i.i-dark { color: rgba(0, 0, 0, 0.54); }
i.i-dark.i-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
i.i-light { color: rgba(255, 255, 255, 1); }
i.i-light.i-inactive { color: rgba(255, 255, 255, 0.3); }


html, body {
    margin:0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
}

header, footer {
    background-color: rgba(0,0,0,0.4);
    flex: 0 0 auto;
    padding: 12px;
    display:flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex: 1; /* OR flex: 1 1 auto; will work for align-items */
    
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: flex-end;
    align-items: stretch;
}

.flex-item {
    display: flex;
    flex: 1 0 240px;  /* -> min-height == 240px*/
    max-height: 320px;

    margin: 12px;

    border-radius: 3px;
    font-size: .8em;
    color: #9E9E9E;
    background: white;
}
@media(min-width:768px) { /*768px*/
    header, footer {
        justify-content: flex-end;
    }

    .flex-container {
        flex-direction: row;
        justify-content: center;
        align-items:  flex-end;
    }

    .flex-item {
        flex: 1 0 auto; /* -> min-width == 0*/
        margin:24px;
        height: 240px;
        max-width: 600px;
    }
}

.bg {
    background-image: url(/material-components-web-0.7.0/demos/images/1-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    background-color: rgba(0, 0, 0, 0.4);
}