/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

body 
{
  background-color: #673AB7;
  min-width: 320px;
}

div #content 
{
  background-color: #fff;/*rgb(250,250,250);*/
  padding:8px;
}

md-card, div.subHead 
{
  /*margin: 8px;*/
  width: 100%;
  margin:auto;
  margin-bottom: 8px; 
  max-width: 640px;
}

md-card md-card-title
{
  font-weight: bold;
  color: rgb(255,255,255);
  background-color: #2196F3;
  padding:8px;
}

md-sidenav
{
  width:280px;
}
@media screen and (min-width: 960px) {
    md-sidenav {
      /*background-color:rgb(250,250,250);*/
      z-index: 0;
    }
}

md-card md-divider
{
  margin:8px;
}
/*#logo {
  background-color: #673AB7;
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
